addon/appstore/__pycache__/__init__.cpython-312.pyc
addon/filemanager/__pycache__/__init__.cpython-312.pyc
addon/outdated/mcmanager/__pycache__/__init__.cpython-312.pyc
addon/outdated/mcmanager/__pycache__/mc_api.cpython-312.pyc
addon/outdated/mcmanager/__pycache__/mc_ui.cpython-312.pyc
addon/outdated/mcmanager/__pycache__/python_nbt.cpython-312.pyc
zbProgram/source/__pycache__/__init__.cpython-312.pyc
zbProgram/source/__pycache__/custom.cpython-312.pyc
zbProgram/source/__pycache__/function.cpython-312.pyc
zbProgram/source/__pycache__/preload.cpython-312.pyc
zbProgram/source/__pycache__/widget.cpython-312.pyc
zbProgram/source/__pycache__/window.cpython-312.pyc
/.gitignore
zbProgram/app/interface/__pycache__/__init__.cpython-312.pyc
addon/appstore/__pycache__/xmltodict.cpython-312.pyc
zbProgram/source/core/__pycache__/data.cpython-312.pyc
zbProgram/source/core/__pycache__/file.cpython-312.pyc
zbProgram/source/core/__pycache__/log.cpython-312.pyc
zbProgram/source/core/__pycache__/system.cpython-312.pyc
zbProgram/source/core/__pycache__/web.cpython-312.pyc
zbProgram/source/func/__pycache__/__init__.cpython-312.pyc
zbProgram/source/func/__pycache__/function.cpython-312.pyc
zbProgram/source/func/__pycache__/logging.cpython-312.pyc
zbProgram/source/func/__pycache__/program.cpython-312.pyc
zbProgram/source/func/__pycache__/setting.cpython-312.pyc
zbProgram/app/interface/__pycache__/about.cpython-312.pyc
zbProgram/app/interface/__pycache__/main.cpython-312.pyc
zbProgram/app/interface/__pycache__/setting.cpython-312.pyc
../zbWidgetLib/zbWidgetLib/__pycache__/__init__.cpython-312.pyc
../zbWidgetLib/zbWidgetLib/__pycache__/custom.cpython-312.pyc
../zbWidgetLib/zbWidgetLib/__pycache__/widget.cpython-312.pyc
/build
/.idea
/script/release_output.json
/zbProgram.spec

__pycache__/
addon/njuxk/tests/
/tests_njuxk/
