altgraph==0.17.4
certifi==2025.1.31
charset-normalizer==3.4.1
colorthief==0.2.1
darkdetect==0.8.0
idna==3.10
numpy==2.2.4
packaging==24.2
pefile==2023.2.7
pillow==11.2.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyQt-Fluent-Widgets==1.7.7
PyQt5==5.15.11
PyQt5-Frameless-Window==0.6.0
PyQt5-Qt5==5.15.2
PyQt5-stubs==5.15.6.0
PyQt5_sip==12.17.0
pywin32==310
pywin32-ctypes==0.2.3
QtPy==2.4.3
requests==2.32.3
scipy==1.15.2
Send2Trash==1.8.3
setuptools==78.1.0
urllib3==2.4.0
winshell==0.6
xmltodict==0.14.2
zbToolLib==1.2.6.1
zbWidgetLib==1.1.0b1
